.navbar-default {
  background-color: #30415d;
  border: 3px solid #30415d;
    border-radius: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-toggle .icon-bar {
    color: #8eaebd;
}
.navbar-default .navbar-nav > li > a {
    color: #8eaebd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #30415d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #8eaebd;
    background-color: #AA0000;
}
.navbar-default .navbar-toggle {
    border-color: #8eaebd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #8eaebd;
}
.main-img img {
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid #30415d;
  padding: 10px;
  background-color:#031424;

}
.head {
    color: #8eaebd;
}

.img-border {
  border: 2px solid ;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #30415d;
}
/*
.boorder {
  border: 1px solid #ffffff;
}
*/

.thumbs {
  margin-top: 20px;
}

.img-responsive:hover {
  opacity: 0.75;
color: #cf6766;
}
.col-md-9  {
  margin-left:10%;
  margin-right: 10%;

}
.col-md-4 img {
  height: 200px;
  text-align: center;
    background-color: #cf6766;
}
footer {
  font-size: 16px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  margin-bottom: 10px;
  border-color: #30415d;
  color: #8eaebd;
}
header  {
  padding-left: 10%;
  text-align: left;
  color: #8eaebd;
}
body {
  background: #031424;
    color:#8eaebd;
}

a {
  text-decoration: none;
  color: #8eaebd;
}
a:hover {
    color: #caebf2;
}
article {
  border: 1px solid #000000;
  margin-left: 10%;
  margin-right: 10%;
}
p {
  margin-left: 10%;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 15px;
  text-align:left;
  color: #8eaebd;
}
