.navbar {
  background-color: #fbfdfc;
  border: 3px solid #fbfdfc;
}
.head {
    color: #ff3b3f;
}



.main-img img {
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid #a9a9a9;
  padding: 10px;
  background-color:#efefef;
}

.img-border {
  border: 2px solid ;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #a9a9a9;
}
/*
.boorder {
  border: 1px solid #ffffff;
}
*/

.thumbs {
  margin-top: 20px;
}

.img-responsive:hover {
  opacity: 0.75;
}
.col-md-9  {
  margin-left:10%;
  margin-right: 10%;

}
.col-md-4 img {
  height: 200px;
  text-align: center;
}
footer {
  font-size: 16px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  margin-bottom: 10px;
  border-color: #a9a9a9;
  color: #a9a9a9;
}
header  {
  padding-left: 10%;
  text-align: left;
  color: #a9a9a9;
}
body {
  background: #efefef;
    color:#fbfdfc;
}

a {
  text-decoration: none;
  color: #a9a9a9;
}
a:hover {
    color: #caebf2;
}
article {
  border: 1px solid #000000;
  margin-left: 10%;
  margin-right: 10%;
}
p {
  margin-left: 10%;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 15px;
  text-align:left;
  color: #a9a9a9;
}
